

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
Pojjaman/AddIns/Customizations/Loan/Pojjaman.Base.Loan.dll

*.licx
Pojjaman/AddIns/Customizations/Loan/Pojjaman.Base.Loan.dll
Pojjaman/AddIns/Customizations/Loan/Pojjaman.Base.Loan.dll
Pojjaman/AddIns/Forms/Accounting/Pojjaman.Base.Form.Accounting.dll
Pojjaman/AddIns/Forms/Accounting/Pojjaman.Base.Form.Accounting.dll
Pojjaman/AddIns/Forms/AP/Pojjaman.Base.Form.AP.dll
Pojjaman/AddIns/Customizations/Loan/Pojjaman.Base.Loan.dll