#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.licx
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*

Pojjaman/AddIns/*/*/*.dll
_ReSharper.Pojjaman/*/*
_ReSharper.Pojjaman/*
Pojjaman/data/MdiLayoutConfig3.xml
Pojjaman/data/PojjamanProperties.xml
Pojjaman/Pojjaman.rar
Pojjaman/CopyMe.rar
Pojjaman.ContentInterface/Pojjaman.ContentInterface.sln
Pojjaman.Base.Form.Accounting/My Project/licenses.licx
