<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!--   User application and configured property settings go here.-->
		<!--   Example: <add key="settingName" value="settingValue"/> -->
		<add key="SqlConString" value="user id=sa;password=tmhctr;initial catalog=Pojjaman;data source=LK01;Connect Timeout=200"/>
		<!--<add key="SqlConString" value="user id=sa;password=abc;initial catalog=LCI;data source=KRISSNOTE;Connect Timeout=200" />-->
                <!--<add key="ConfigDirectory" value="D:\PojjamanStandardProperties\"/> -->
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
